html, body {
  height: 100%;
  width: 100%;
}
* {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}
body {
  background: #900C3F;
  background-size: cover;
  color: #fff;
  width: 50%;
  height: 50%;
}
.container {
  position:absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400;
  
}
.container h1 {
  font-size: 40px;
  text-align: center;
  margin: 40px 0;
  
  
}
.container p {
  font-size: 15px;
  
  margin: 15px 0;
  
  
}
.container input {
  font-size: 16px;
  padding: 5px 5px;
  border: 0;
  border-radius: 5px;
  outline: none;
  
  
}
.container button {
  font-size: 18px;
  font-weight: bold;
  margin: 20px 0;
  padding: 10px 15px;
  width: 50%;
  border: 0;
  border-radius: 5px;
  background-color:#FFC300;
  
  
}
.container button:hover {
  font-size: 18px;
  font-weight: bold;
  margin: 20px 0;
  padding: 10px 15px;
  width: 52%;
  border: 0;
  border-radius: 5px;
  background-color:#50e826;
  
  
}



